body {
  font-family: Arial, sans-serif;
  margin: 0;}


header {
  background-color: white;
  color: #333;
  padding: 20px;
  display: flex;
}

.logo__img{
    width: 80px;
}

.logo__text{
    padding-top: 2%;
    padding-left: 2%;
}

.menu_small_icon {
  display: none;
}

.menu-small {
  display: none;
  height: 2em;
}

.menu_small_item {
  display: none;
}

.stick {
  width: 80%;
  height: 5px;
  background: black;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 1%;
  overflow: auto;
  background-color: #70C174;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #ddd;
}

main {
  padding: 20px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
}

/* Specific Styles */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-top: 0;
}

h2:first-of-type {
  margin-top: 0;
}

ul li:not(:last-child) {
  margin-bottom: 10px;

}
.signature-drink {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
}

.signature-drink h2 {
  margin-bottom: 0;

}
.signature-drink p {
  margin-top: 0;
}

.signature-drink img {
  float: left;
  margin-right: 10px;
}

.drink {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
   }
   
   .drink img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
   }
   
   .drink h3 {
    font-size: 24px;
    margin-bottom: 5px;
   }
   
   .drink p {
    font-size: 18px;
    margin-bottom: 5px;
   }



   .bannerImg{
    width: 40%;
}
.bookimg{
    width:100%;
}
.bannerText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}
.textP{
    color: rgb(162, 161, 193);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h1{
    font-size: 40px;
}


.book{
    size: 30px;
}
.pustota{
    width:10%;
}

/* Media Queries */

@media (max-width: 768px) {
  nav li {
    float: none;
    display: inline-block;
    width: auto;
  }

  nav li a {
    display: block;
    text-align: left;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 24px;
  }

  nav li a {
    padding: 10px;
  }

  .signature-drink img {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }
}